# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# PyCharm project settings
.idea/

# Test/cache folders
.pytest_cache/
.coverage
htmlcov/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log